<div id="background">

  <div id="loginContainer">

    <div id="inputContainer">

      <br>
      <br>
      <!-- Login -->
      <div id="loginForm">
        <h2>Login account</h2>
        <p>
          <label for="loginUsername">Email</label>
          <input id="loginUsername" name="loginUsername" type="text" placeholder="your username" required #loginemail>
        </p>
        <p>
          <label for="loginPassword">Password</label>
          <input id="loginPassword" name="loginPassword" type="password" placeholder="your password" required #loginpassword>
        </p>
        <button (click)="loginUser(loginemail, loginpassword)" name="loginButton">LOGIN</button>

        <div class="ifHasAccount">
          <span [routerLink]="['/signup']" id="hideLoginForm">Don't have an account yet? Create one here for <em>FREE</em>.</span>
        </div>
      </div>

    </div>

    <br>
    <br>
    <div id="loginFormSideText">
      <h1>Upload Easy</h1>
      <h2>Video Management System</h2>
      <ul>
        <li>Lets you upload media files to firestore</li>
        <li>Show them in action all at one place</li>
        <li>Ofcourse it's free</li>
      </ul>
    </div>

  </div>

</div>